// cow : color world
$cow_default: #333;
$cow_paragraph: #888;

$co_line: #c3d0db;
// colors
$primary: #60c5ba;
$secondary: #7f909e;
$success: #25b347;
// $danger: #ef5245;
$danger: #f53876;
$warning: #feee7d;
$info: #a5dff9;
$light: #f8f9fa;
$dark: #444a50;

$font_family: 'Roboto', 'NanumBarunGothic', sans-serif;
$radius: 0.4rem;
$padding: 1.6rem;
$header_height: 6rem;
$header_height_lg: 8rem;

$breakpoints_xxl: 1400px;
