@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D2Coding";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme static {
  --font-sans: "SUIT-Regular", sans-serif;
  --font-mono: "D2Coding", monospace;
  --ring-font-mono: "D2Coding", "MaruBuri", monospace, sans-serif;

  --ui-color-primary-400: #7cd3d5;
  --ui-color-primary-500: #b9e2e3;

  --ui-color-grey-100: #f5f5f5;
  --ui-color-grey-200: #e5e5e5;
  --ui-color-grey-300: #d4d4d4;
  --ui-color-grey-400: #a3a3a3;
  --ui-color-grey-500: #737373;
  --ui-color-grey-600: #525252;
  --ui-color-grey-700: #404040;
  --ui-color-grey-800: #212121;
  --ui-color-grey-900: #121212;
  --ui-primary: var(--ui-color-primary-400);

  --ui-border: #ddd;

  --ui-nav-width: 16rem;

  --ui-text: #333;
}

.ring {
  font-family: var(--ring-font-mono);
}
