---
layout: page
title: 아무말
categories: any
order: 1
description: 그냥 아무말이나 하는 곳
type: any
---

{% include list.html %}

<!-- <section class="page-top">
	<h1 class="page-title">{{page.title}}</h1>
	<p>그냥 아무말이나 하는 곳</p>
</section>
{% assign currentData = site.categories.any %}
<ul class="category-list">
	{% for post in currentData %}
	<li>
		<a href="{{ post.url }}" class="category-item">
			<span>{{ post.title | truncate:15 }}</span>
			<span>{{post.date | date: "%F" }}</span>
		</a>
	</li>
	{% endfor %}
</ul> -->
